
body {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    margin-top: 50px;
    padding-top: 50px;
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer p {
    clear: left;
    margin-bottom: 0;
}

#msg-list {
    max-height: 60vh;
    overflow: auto;
}

/*
 * Estilo CSS que se aplica al empezar la animación.
 */
.msg-animation.ng-enter {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;

    opacity: 0;
}

.msg-animation.ng-enter.ng-enter-active {
    opacity: 1;
}
